{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Логистика{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon64x64.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">


        
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const profile = document.querySelector('.profile');
            profile.addEventListener('click', function() {
                this.classList.toggle('active');
            });
        });
    </script>
</head>
<body>
    <!-- Эффект затемнения -->
    <div class="overlay"></div>

    <!-- Навигационная панель -->
    <nav class="navbar">
        <div class="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" alt="Логотип" class="logo">
            </a>
        </div>
        <div>
            {% for item in menu %}
                <div class="menu-item">
                    <a href="#">{{ item.name }}</a>
                    {% if item.children %}
                    <div class="submenu">
                        {% for child in item.children %}
                            <a href="{% url child.url %}">{{ child.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="profile">
            <img src="{% static 'images/profile_placeholder.jpg' %}" alt="Profile">
            <span>{{ user.username }}<i class="fas fa-chevron-down"></i></span>
            <div class="profile-dropdown">
                <a href="{% url 'user_profile' %}">Профиль</a>
                <a href="{% url 'user_settings' %}">Настройки</a>
                <a href="{% url 'logout' %}">Выход</a>
            </div>
        </div>
    </nav>

    <!-- Основной контент -->
    <div class="content">
        {% block content %}
        <!-- Содержимое страницы -->
        {% endblock %}
    </div>
</body>
</html>
