{% extends 'logistics_app/base.html' %}
{% load static %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
    <div class="welcome-container">
        <h1 class="welcome-title">Добро пожаловать на наш сайт логистической компании</h1>
        <p class="welcome-text">
            Мы предоставляем эффективные и безопасные морские перевозки по всему миру. Наша миссия – гарантировать надёжную доставку грузов, оптимизировать логистические процессы и предоставлять клиентам высокий уровень сервиса.
        </p>
        <div class="welcome-button">
            <a href="{% url 'clients_list' %}" class="button">Узнать больше о клиентах</a>
        </div>
    </div>
{% endblock %}

