{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon64x64.png' %}">
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    
    <div class="auth-container">
        <div class="auth-header">Восстановление пароля</div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group-auth">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Введите email" required>
            </div>
            <div class="links">
                <a href="{% url 'login' %}">Авторизация</a>
                <a href="{% url 'register' %}">Регистрация</a>
            </div>
            <button type="submit" class="auth-btn">
                Продолжить <i class="fas fa-arrow-right"></i>
            </button>
        </form>
    </div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
